*{
    margin:0;
    padding:0;
}

.container{
    margin:auto;
    width: 90%;
}

/*header section*/
.contentWraper_header{
    display:grid;
    grid-template-columns:100px 300px 800px 100px;
}
.logo h2{
    font-family: 'Krona One', sans-serif;
    padding-top: 12px;
    font-size: 36px;
    padding-left: 5px;
    color: #549edf;

}
.catagori_header_website ul {
    display: inline-block;
    list-style: none;
}

.catagori_header_website ul li {
    display: inline-block;
    margin-top: 25px;
    font-family: sans-serif;
    
    /* color: red; */
   
    transition: color 0.2s ease;
    margin-left: 10px;
}

.catagori_header_website ul li a {
    color: gray;
    font-size: 20px;
    padding: 0px 10px;
    text-decoration: none;
}

.catagori_header_website ul li a:hover {
    color: #312e2e;
}

.menubar_header ul {
    list-style: none;
    margin-top: 22px;
    margin-left: 200px;
}

.menubar_header ul li {
    display: inline-block;
    
    font-family: sans-serif;
    transition: all 0.2s ease;
}

.menubar_header ul li a {
    padding: 0px 20px;
    font-size: 20px;
    text-decoration: none;
    color: gray;
}

.reco{
    position:relative;
}
.reco:hover .subcontent{
    visibility: visible;
    opacity:1;
    transform:scaleY(1)
}

.subcontent {
    position: absolute;
    background: white;
    padding: 20px;
    width: 237px;
    visibility: hidden;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top center;
    transition: 0.5s;

}

span.head_span {
    color: blue;
    margin-bottom: 5px;
    font-family: sans-serif;
    display:block;
    margin-top: 9px;
}

span.smallSpan {
    font-size: 11px;
    display: inline-block;
    color: #888;
    line-height: 18px;
}

span.head_span:hover {
    cursor: pointer;
    color: #539fe1;
}
sapn.head_span {
    color: #0a58b8;
    font-family: sans-serif;
    margin-top: 14px;
    display: inline-block;
}

sapn.head_span:hover {
    color: #87b5dd;
    cursor: pointer;
}
.header_login_btn h3 a {
    text-decoration: none;
    margin-top: 16px;
    display: inline-block;
    font-family: cursive;
    color: #0be4fa;
    transition: color 0.3s ease;
}

.header_login_btn h3 a:hover {
    color: #0f6cbe;
}

/*Section 2*/
.blog_header_wraper{
    display:grid;
    grid-template-columns: auto 300px;
}

.header_title h2 {
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 800;
    color: #999;
}

section.section2 {
    margin-top: 33px;
}

.header_title p {
    color: #555;
    font-family: monospace;
    display: inline-block;
    /* width: 100%; */
    line-height: 24px;
    font-size: 13px;
}

.header_title p a {
    text-decoration: none;
    color: #1917c3;
}

.header_title p a:hover {
    text-decoration: underline;
}

.logoside_header a {
    display: block;
    padding: 10px 20px;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 13px;
    border: 1px solid #777;
    color: #888;
    width: 50%;
    margin-left: 32px;
}

.logoside_header span {
    margin-left: 30px;
    margin-top: 10px;
    display: inline-block;
    font-family: cursive;
    color: #888;
}

.logoside_header i {
    padding: 0px 4px;
    font-size: 17px;
    color: #474bdd;
    transition: color 0.2s ease;
}

.logoside_header i:hover {
    color: #143653;
    cursor: pointer;
}
/*Sectoin 3*/

.section3{
    margin-top: 30px;
}

.contantWraper_blog{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}


.content_background {
    position: relative;
}

.content_people {
    position: relative;
   bottom: 10%;
   
}

.content_people img {
    border-radius: 50px;
}

span.by_blog {
    display: inline-block;
    /* padding: 20px 10px; */
    padding-bottom: -22px;
    font-family: sans-serif;
    font-weight: bold;
    color: #999;
    padding-right: 21px;
}

.content_people a {
    font-family: sans-serif;
    color: #3fbbe3;
    text-decoration: none;
}

span.date_span {
    font-family: cursive;
    color: #999;
    font-size: 12px;
    display: inline-block;
    padding-left: 210px;
}


.blog_information h2 a {
    font-family: sans-serif;
    /* margin-bottom: 21px; */
    text-decoration: none;
    color: #546de8;
    font-weight: 100;
}

.blog_information h2 a:hover {
    text-decoration: underline;
}

.blog_information h2 {
    margin-bottom: 20px;
}

.blog_information a:nth-child(2) {
    color: #60a0a0;
    display: inline-block;
    margin-bottom: 20px;
    font-family: cursive;
    text-decoration: none;
    font-size: 14px;
}

.blog_information p {
    font-family: cursive;
    font-size: 13px;
    color: #888;
    line-height: 24px;
    margin-bottom: 10px;
}

a.last_link {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #51ecc1;
    font-family: sans-serif;
    font-weight: 600;
    color: #12c3c3;
}

.section4{
    margin-top: 60px;
}

/*Section 5*/

.section5{
    margin-top:20px;
    background:rgb(221, 221, 221);
    padding-bottom: 20px;
}

.content_wraper_5{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}

.heading_5 h2 {
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;
    font-family: sans-serif;
    font-size: 38px;
    font-weight: 100;
    color: #888;
}
.heading_5 h2 {
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;
    font-family: sans-serif;
    font-size: 38px;
    font-weight: 100;
    color: #888;
}

.content1_5 {
    padding: 25px 20px;
    background: white;
}

.information_5 {
    text-align: center;
}

.information_5 h2 {
    font-family: sans-serif;
    font-size: 20px;
    color: #727272;
    margin-bottom: 11px;
    margin-top: 10px;
}

.information_5 p {
    font-family: cursive;
    margin-bottom: 10px;
    font-size: 13px;
    color: #999;
}

.information_5 a {
    font-family: sans-serif;
    text-decoration: none;
    color: #09b6b6;
}

/*Section 7*/

.content_7 {
    text-align: center;
}

section.section7 {
    background: #feffb6;
}

.content_7 {
    padding: 30px 0px;
}

.content_7 h2 {
    font-family: sans-serif;
    font-weight: 100;
    color: #999;
    width: 430px;
    margin: auto;
    margin-bottom: 36px;
}

.content_7 a {
    padding: 15px 80px;
    background: burlywood;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    color: #feffb6;
    border-radius: 5px;
    border: 1px solid aquamarine;
    transition: all 0.2s ease;
}

.content_7 a:hover {
    border-bottom: 3px solid aquamarine;
}

.section7{
    margin-top: 30px;
    padding-bottom: 30px;
}


/*footer 10*/

.section10{
    border-top: 1px solid rgb(187, 187, 187);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
}
.contentWraper_4{
    display:grid;
    grid-template-columns: 200px auto 300px;
}

section.section4 {
    margin-top: 41px;
}

.logo_4 h2 {
    font-family: 'Krona One', sans-serif;
    font-weight: 700;
    color: #918d8d;
    font-size: 42px;
}

.section4_links ul {
    list-style: none;
}

.newfooterli{
    display: inline-block;
    padding: 13px 5px;
    font-family: 'Krona One', sans-serif !important;
    font-size: 12px !important;
}
.section4_links ul li a {
    text-decoration: none;
    color: #999;

    
}

.section4_links ul li a:hover {
    text-decoration: underline;
}


.copyright_4 span {
    font-family: sans-serif;
    font-size: 11px;
    word-spacing: 1px;
    display: inline-block;
    margin-top: 13px;
    color: #999;
}

/*footer*/
.content_footer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.footer1a{
    display:block;
}

.content_footer {
    padding-top: 50px;
    border-top: 2px solid gainsboro;
    background: #d3e9fc;
    padding-bottom: 50px;
}

.footer1 {
    margin-left: 24px;
}

h2.footer_h2 {
    font-family: sans-serif;
    font-size: 15px;
    color: #777;
    font-weight: bold;
    margin-bottom: 7px;
}

a.footer1a {
    font-family: system-ui;
    font-size: 15px;
    margin-bottom: 5px;
    text-decoration: none;
    color: rgb(8, 42, 192);
}

a.footer1a:hover {
    text-decoration: underline;
}

.footer5 h2 {
    font-family: monospace;
    color: #888;
    margin-bottom: 10px;
}

.footer5 p {
    font-family: sans-serif;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 10px;
}

.footer5 a {
    text-decoration: none;
    padding: 10px 20px;
    background: #0dd5ea;
    font-family: cursive;
    margin-top: 13px;
    display: inline-block;
    border: 2px solid #31acf4;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.footer5 a:hover {
    text-decoration: underline;
    color: #367183;
}

.footer5 {
    border-left: 1px solid #6666;
    padding-left: 15px;
}